.container{
    width: 65%;
    background-color: beige;
    border: 1px solid gray;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 150px;
    width: 150px;
    background-color: brown;
    margin: 10px;
}